{% extends "motamo_template.html" %}
{% load static %}
{% block content_block %}

      <div class="page-header">
          <a href="{% url 'motamo.views.index' %}"><img src="{%  static "img/header.jpg" %}" height="120px" /></a>
        <h1>Admin Motamo</h1>
      </div>
      <p class="lead">Ajouter une date :</p>
                <form class="m-t" role="form" action="." method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary block full-width m-b">Ajouter</button>
            </form>
      <p class="lead">Date existante :</p>
      <table class="table table-striped">
            <tr><th>Date</th><th>Titre</th><th>Places disponibles</th><th>Action</th></tr>
            {% for date in dates %}
            <tr class="date-{{ date.id }}"><td>{{ date.date|date:"d M Y" }}</td><td>{{ date.name }}</td><td>{{ date.available_places }}</td><td><a href="">Activer</a> | <a href="{%  url 'motamo.views.guestList' date.id %}">Voir liste</a> | <button onclick="deleteDate({{ date.id }})">Delete</button></td></tr>
            {% empty %}
            <p>Il n'y a pas de date disponible pour le moment.</p>

            {% endfor %}
        </table>

<script>

function deleteDate(id){
    $(".date-"+id).fadeOut("slow");
    $.ajax({
               type: "POST",
               url: "{% url 'motamo.views.deleteDate' %}",
               data: {"id":id},
               dataType: "json",
               success: function(response) {
                      //alert("Delete with success");
                },
                error: function(rs, e) {
                       //alert(rs.responseText);
                }
          });
}

</script>

{% endblock %}