{% extends "motamo_template.html" %}
{% load static %}
{% block content_block %}

      <div class="page-header">
          <a href="{% url 'motamo.views.index' %}"><img src="{%  static "img/header.jpg" %}" height="120px" /></a>
        <h1>Guest list</h1>
      <table class="table table-striped">
            <tr><th>Nom</th><th>Adult</th><th>Enfant</th><th>Total</th><th>Présent</th><th>Action</th></tr>
            {% for reservation in reservations %}
            <tr class="reservation-{{ reservation.id }}"><td>{{reservation.name }}</td><td>{{ reservation.adult }}</td><td>{{ reservation.children }}</td><td>{{ reservation.total_price }} €</td><td><input type="checkbox" onclick="checkReservation()"></td><td><button onclick="deleteReservation({{ reservation.id }})">Delete</button></td></tr>
            {% empty %}
            <p>Il n'y a pas d'invité inscrit pour le moment.</p>

            {% endfor %}
        </table>
      </div>

    <script>

    function checkReservation(){

    }


    function deleteReservation(id){
        $(".reservation-"+id).fadeOut("slow");
        $.ajax({
                   type: "POST",
                   url: "{% url 'motamo.views.deleteReservation' %}",
                   data: {"id":id},
                   dataType: "json",
                   success: function(response) {
                          //alert("Delete with success");
                    },
                    error: function(rs, e) {
                           //alert(rs.responseText);
                    }
              });
    }


    </script>

{% endblock %}