{% extends "motamo_template.html" %}
{% load static %}
{% block content_block %}

      <div class="page-header">
          <img src="{%  static "img/header.jpg" %}" height="120px" />
        <h1>Réservation Motamo</h1>
      </div>
      <p class="lead">Prochaines dates :</p>
        <table class="table table-striped">
            <tr><th>Date</th><th>Détails</th><th>Places disponibles</th><td>Action</td></tr>
            {% for date in dates %}
            <tr><td>{{ date.date|date:"d M Y" }}</td><td><h5>{{ date.name }}</h5> {{ date.description }}</td><td>{{ date.available_places }}</td><td><a href="{% url "motamo.views.reservation" date.id %}">Réserver</a></td></tr>
            {% empty %}
            <p>Il n'y a pas de date disponible pour le moment.</p>

            {% endfor %}
        </table>

{% endblock %}