{% extends "motamo_template.html" %}
{% load static %}
{% block content_block %}

      <div class="page-header">
          <a href="{% url 'motamo.views.index' %}"><img src="{%  static "img/header.jpg" %}" height="120px" /></a>
        <h1>Réservation Motamo</h1>
      </div>
    <p>Réservation pour "{{ date.name }}" à la date du "{{ date.date|date:"d M Y" }}".</p>
    <ul>
    <li>Prix adulte: {{ date.price_adult }}€</li>
    <li>Prix groupes à partir de 12 personnes ou étudiants sur présentation de la carte ou enfants < 12ans: {{ date.price_children }}€</li>
    </ul>
                <form class="m-t" role="form" action="." method="post" onchange="updatePrice()">
                {% csrf_token %}
                {{ form.as_p }}
                    <!--<p>Total : <span class="total_price">0</span>€</p>-->
                <button type="submit" class="btn btn-primary block full-width m-b">Réserver</button>
            </form>

        <p>* Le paiement concernant les réservations est à effectuer sur place.</p>
<script>

function updatePrice(){
    $(".total_price").innerHTML = "9";
}

</script>

{% endblock %}